*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  color: #fff;
  font-family: 'Roboto', 'Franklin Gothic Medium', Tahoma, sans-serif;
}


.main-header {
  box-shadow: 0 3px 10px 0 rgba(90, 97, 105, .12);
  grid-area: header;
  display: flex;
  align-items: center;
  white-space: nowrap;
  $root-class: &;
  max-width: calc(100vw - 50px);

  &__nav {
    margin-left: auto;
    z-index: 3;
  }

  &__menu {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
  }

  &__item {
    display: inline-flex;
    width: 50px;
    height: 50px;
    border-right: 1px solid #cacedb;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    position: relative;

    &:first-child {
      border-left: 1px solid #cacedb;
    }

    &--active::after {
      position: absolute;
      bottom: -1px;
      height: 1px;
      width: 100%;
      background: #fff;
      content: '';
    }
  }
}

.main-content {
  margin: 30px;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}