<header class="main-header">
  <h1 class="main-header__title">
    <%= yield :header_title %>
  </h1>
  <div class="main-header__action">
    <%= yield :header_action %>
  </div>
  <notifications width="360px"></notifications>
  <nav class="main-header__nav">
    <ul class="main-header__menu">
      <li class="main-header__item">
        asd
      </li>
      <li class="main-header__item">
        asd
      </li>
    </ul>
  </nav>
</header>
